<%= form_with(model: @twiit, local: true) do |form| %>
  <% if @twiit.errors.any? %>
  <div class="error_messages">
    <% @twiit.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>
  <% end %>

  <div class="twiit">
    <%= form.label :content, "ツイート内容" %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit%>
<% end %>


